# Untrack files generated during the compilation of the project
*.ko
*.o
*.mod
*.mod.c
*.mod.o
*.symtypes
*.order
*.cmd
*.symvers
*.out
*.js
*.html
*.css
*.svg
*.tex
*.sty
doxygen/output/latex/Makefile